body {background-color: rgba(192, 135, 100, 0.49);}
.box {
    height: 90vh;
    margin-top: 10px;
    overflow: scroll;
}

.Title{
    background-color: #BBA996;
    justify-content: center;
}

.Content{
    /*margin: 0 auto;*/
    /*width: 100%;*/
    /*height: 100%;*/
    /*background-color: #DACEBD;*/
    padding: 20px;
    /*border-radius: 25px;*/
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    /*align-items: auto;*/
    gap: 30px;
    justify-content: center;
    /*box-shadow: 2px 2px 0px 2px #BBA996;*/
}

.SearchBar{
    width: 90%;
    height: 20%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin: 10px;
}

.Ques_Text{
    height: 185px;
    /*width: 180px;*/
    /*margin: 2px;*/
}

.Create{
    width: 50%;
    height: 50%;
    background-color: rgba(255, 255, 255, 1);
    position: absolute;
    left: 25%;
    top: 25%;
    border-radius: 20px;
    display: flex;
    padding: 20px;
}

.Footer{
    width: 100%;
    position: fixed;
    bottom: 0;
    display: flex;
    justify-content: flex-end;
    padding-right: 100px;
}

#addBtn{
    /*margin-left: 100px;*/
    margin-right: 35px;
    margin-bottom: 30px;
    background-color: rgba(192, 135, 100, 0.49);
    /*margin: 25px;*/
}

.create_form{
    width: 100%;
    display: flex;
    flex-direction: column;
}

.form_item{
    width: 100%;
    margin: 10px;
    display: flex;
    flex-direction: row;
}

.form_item_footer{
    width: 100%;
    margin: 10px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.tags {
    display: flex;
width: 250px;
    height: 55px;
    flex-wrap: wrap;
    align-content: space-around
    /*position: absolute;*/
    /*margin-bottom: 300px;*/
}