.Title{
    background-color: #BBA996;
    justify-content: center;
}

.Content{
    margin: 0 auto;
    width: 80%;
    height: 100%;
    background-color: #DACEBD;
    padding: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 25px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: auto;
    justify-content: center;
    box-shadow: 2px 2px 0px 2px #BBA996;
}

.SearchBar{
    width: 90%;
    height: 20%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin: 10px;
}
.Ques_Text{
    height: 200px;
    margin: 2px;
}

.Footer{
    display: flex;
    justify-content: flex-end;
    padding-right: 100px;
}

.Create{
    width: 50%;
    height: 50%;
    background-color: rgba(255, 255, 255, 1);
    position: absolute;
    left: 25%;
    top: 25%;
    border-radius: 20px;
    display: flex;
    padding: 20px;
}

#addBtn{
    background-color: rgba(218, 206, 189, 0.7);
    margin: 10px;
}

.create_form{
    width: 100%;
    display: flex;
    flex-direction: column;
}

.form_item{
    width: 100%;
    margin: 10px;
    display: flex;
    flex-direction: row;
}

.form_item_footer{
    width: 100%;
    margin: 10px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}